:root{
    --grid-coloumns:1;
    --grid-rows:1;
}

#container {
    display: grid;
    padding: 50px;
    border: 20px solid black;
    margin: 20px;
    grid-template-columns: repeat(var(--grid-coloumns),1fr);
    grid-template-rows: repeat(var(--grid-rows),1fr),minmax(0,2fr);
}

.grid-item {
    padding: 1em;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.constyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

